<div [formGroup]="form" class="create-form p-20" class="center-align" style="padding: 20px">
    <div class="row">
        <div class="col-md-3">
            <app-input placeholder="Comments" 
            [disabled]="false" 
            formControlName="reviewComments"
            [error]="getErrorMessage('reviewComments')" 
            [inputStyle]="fieldStyle('reviewComments')"
            [attr.required]="false" 
            [maxLength]="4000">
            </app-input>
        </div>

        <div class="col-md-3">
            <app-input placeholder="Rating" 
            [disabled]="false" 
            formControlName="reviewRatting" 
            [attr.required]="false"
            [error]="getErrorMessage('reviewRatting')" 
            [inputStyle]="fieldStyle('reviewRatting')"
            type="number" 
            [maxLength]="4000">
            </app-input>
        </div>
        <div class="col-md-3">
            <app-input placeholder="User Id" 
            [disabled]="false" 
            formControlName="reviewUserId" 
            [attr.required]="false"
            [error]="getErrorMessage('reviewUserId')"  
            [inputStyle]="fieldStyle('reviewUserId')"
            [maxLength]="4000">
            </app-input>
        </div>
        <div class="col-md-3">
            <app-input 
            placeholder="Content Id" 
            [disabled]="false" 
            formControlName="reviewContentId"
            [error]="getErrorMessage('reviewContentId')"   
            [inputStyle]="fieldStyle('reviewContentId')"
            [attr.required]="false" 
            [maxLength]="4000">
            </app-input>
        </div>
    </div>
    <div class="example-button-row">
        <button (click)="submit()" mat-raised-button color="primary">Submit</button>
    </div>

<div *ngIf="response" class="row">
    {{response}}
</div>

</div>