<div class="row" style="text-align: center;display: inherit">
  <h2>Supported API's</h2>
  <ul class="list-inline">
    <li class="list-inline-item" *ngFor="let api of apiList" (click)="onSelect(api)">
      <a href="">{{api.name}}</a>
    </li>
  </ul>
</div>


<div>

<add-review></add-review>

</div>


<router-outlet></router-outlet>