  <mat-form-field>
    <input
      matInput
      [placeholder]="placeholder"
      [ngStyle]="inputStyle"
      [value]="value"
      [type]="type"
      [attr.minlength]="minLength"
      [attr.maxlength]="maxLength"
      (input)="onChange($event.target.value)"
      (blur)="onTouched()">
    <mat-hint class="error">{{error}}</mat-hint>
    <ng-content></ng-content>
  </mat-form-field>

